.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
jmp-tutorials
r-tutorials
resources
lecture-style
323-waitlist.txt
*F2025
*S2025
*Syllabus.png
*W2025
*course-image.PNG
*EOC-323.pdf
*encrypted_.pdf
*learning-quiz*